
/*
 * Layout
 */


body {
	font-family: sans-serif;
	color: #000000;
	background-color: #E9F8E9;
}

div.container {
	width: 80%;
	margin: 10px auto;
	border: solid 1px #ADA;
	background: #FFFFFF;
}

div.navbar {
	float: left;
	width: 17%;
	margin: 0;
	padding: 1em 0 0 1em;
	background-color: #FFFFFF;
	font-size: x-small;
}

div.main {
	/* El margen es 3% + margen del navbar */
	margin-left: 20%;
	padding: 1em;
	border-left: solid 1px #ADA;
}

div.message {
	color: #F00;
}

div.footer {
	clear: both;
	margin: 0;
	padding: .5em;
	color: #333;
	background-color: #d2e9ff;
	border-top: 1px solid #ADA;
}


/*
 * Elementos normales
 */

h1 {
	font-size: x-large;
	padding-left: 10px;
	background-color: #d2e9ff;
	border: 1px dotted #01a2ed;
}

h2 {
	font-size: medium;
	color: #2b8fc5;
	border-bottom: 1px solid #CCC;
}

a {
	text-decoration:none;
	color: #4322FF;
}

a:hover {
	text-decoration:none;
	color: #c00;
}

tt {
	color: #000;
	background:#eee;
}


div.rbar {
	float: right;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 1em;
	text-align: right;
	clear: right;
}

