$def with (num, uni_options, fac_options, carr_options)

<div id="datos_carrera_$num" class="idTabs_content">

    <table>
    <tr>
        <td>Padrón:</td>
        <td><input type="text" name="padron_$num" size="8" /></td>
    </tr>
    <tr>
        <td>Universidad</td>
        <td>
            <select class="uni_options" name="uni_$num">
                $:uni_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Facultad</td>
        <td>
            <select class="fac_options" name="fac_$num">
                $:fac_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Carrera:</td>
        <td>
            <select class="carr_options" name="carr_$num">
                $:carr_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Fecha de inicio:</td>
        <td>
          <input type="text" name="inid_$num" size="2"/> /
          <input type="text" name="inim_$num" size="2"/> /
          <input type="text" name="iniy_$num" value="2000" size="4"/>
        </td>
    </tr>
    </table>
</div>

