$def with (num, id = '', inid = '', inim = '', iniy = '', uni_options = (), fac_options = (), carr_options = (), fully_editable = True)

<div id="progdata_$num" class="idTabs_content">

    <table>
    <tr>
        <td>ID number:</td>
        <td>
            <input type="text" name="progdatas/$num/id" size="8" value="$id" />
        </td>
    </tr>
    <tr>
        <td>University:</td>
        <td>
            $if fully_editable:
                <select class="uni_options" name="progdatas/$num/uni">
            $else:
                <select class="uni_options" name="progdatas/$num/uni" disabled="disabled">

            $:uni_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Faculty:</td>
        <td>
            $if fully_editable:
                <select class="fac_options" name="progdatas/$num/fac">
            $else:
                <select class="fac_options" name="progdatas/$num/fac" disabled="disabled">

            $:fac_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Program:</td>
        <td>
            $if fully_editable:
                <select class="carr_options" name="progdatas/$num/carr">
            $else:
                <select class="carr_options" name="progdatas/$num/carr" disabled="disabled">

            $:carr_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Start date:</td>
        <td>
          <input type="text" name="progdatas/$num/inid" size="2" value="$inid" /> /
          <input type="text" name="progdatas/$num/inim" size="2" value="$inim" /> /
          <input type="text" name="progdatas/$num/iniy" value="$iniy" size="4"/>
        </td>
    </tr>
    </table>
</div>

