$def with (num, id = '', inid = '', inim = '', iniy = '', uni_options = (), fac_options = (), carr_options = ())

<div id="progdata_$num" class="idTabs_content">

    <table>
    <tr>
        <td>Padrón:</td>
        <td>
            <input type="text" name="progdata/$num/padron" size="8" value="$id" />
        </td>
    </tr>
    <tr>
        <td>Universidad</td>
        <td>
            <select class="uni_options" name="progdata/$num/uni">
                $:uni_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Facultad</td>
        <td>
            <select class="fac_options" name="progdata/$num/fac">
                $:fac_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Carrera:</td>
        <td>
            <select class="carr_options" name="progdata/$num/carr">
                $:carr_options
            </select>
        </td>
    </tr>
    <tr>
        <td>Fecha de inicio:</td>
        <td>
          <input type="text" name="progdata/$num/inid" size="2" value="$inid" /> /
          <input type="text" name="progdata/$num/inim" size="2" value="$inim" /> /
          <input type="text" name="progdata/$num/iniy" value="$iniy" size="4"/>
        </td>
    </tr>
    </table>
</div>

