$def with (personal, materias, info = None, correlativas = None, codigo = None, inmediatas = None, url = None, matdict = None)

$var title: Datos de una materia
$var no_navbar: false

$if info:
    <h2>$info['codigo']: $info['desc']</h2>

    Créditos: $info['creditos'].<br/>

    $if personal['aprobadas'].has_key(codigo):
        Aprobaste esta materia con $personal['aprobadas'][codigo].<br/>
    $elif codigo in personal['cursando']:
        Estas cursando esta materia.<br/>

    <p/>

    $def showcode(code):
        $if '!' in code:
            No tener $(code[1:]): $matdict[code[1:]]
        $elif 'c' in code:
            Tener $(code[:-1]) créditos
        $elif 'm' in code:
            Tener $(code[:-1]) materias aprobadas
        $else:
            $(code): $matdict[code]

    $if inmediatas:
        Correlativas inmediatas:
        <ul>
        $for code in inmediatas:
            $if personal['aprobadas'].has_key(code):
                <li class="aprobada">$showcode(code)</li>
            $elif code in personal['cursando']:
                <li class="cursando">$showcode(code)</li>
            $else:
                <li>$showcode(code)</li>
        </ul>

    $if correlativas:
        Correlativas completas:
        <ul>
        $for code in correlativas:
            $if personal['aprobadas'].has_key(code):
                <li class="aprobada">$showcode(code)</li>
            $elif code in personal['cursando']:
                <li class="cursando">$showcode(code)</li>
            $else:
                <li>$showcode(code)</li>
        </ul>
    $else:
        Esta materia no tiene correlativas.<br/>

    <a href="$url">Ver programa</a> (puede no existir, depende de la página de la
    facu).

    <p/>

<h2>Nueva consulta</h2>


<form method="post" action="datosmateria">
<b>1.</b> Elegí la materia de la cual queres obtener información:<br/>
<select name="cod">
$for mat in materias:
    <option value="$mat[0]">$mat[0]: $mat[1]</option>
</select><p/>

<b>2.</b> Para terminar, apretá
<input type="submit" value="Consultar"/>
</form><p/>


