
#set title = 'Principal'
#include "header.html"


#if $personal.nombre
	Hola $personal.nombre!<p>
#else
	Hola $personal.username!<p>
#end if

#if $area_desc:
	Estas estudiando $carrera_desc, orientacion $area_desc.<br>
#else
	Estas estudiando $carrera_desc.<br>
#end if

#if $inicio
	Arrancaste la carrera el $inicio[0]/$inicio[1]/$inicio[2].<br>
#end if

#if $personal.padron
	Tu padrón es $personal.padron.<br>
#end if

#if $promedio
	Tu promedio (sin aplazos) es $promedio.<br>
#end if
<p>

#if $cursando
	<h2>Estas cursando:</h2>
	<ul>
	#for $mat in $cursando
		<li>$mat[0]: $mat[1]</li>
	#end for
	</ul>
	<p>
#else
	<h4>No estas cursando materias.</h4>
#end if

#if $para_cursar
	<h2>Podes cursar:</h2>
	<ul>
	#for $mat in $para_cursar
		<li>$mat[0]: $mat[1]</li>
	#end for
	</ul>
	<p>
#else
	<h4>Las correlatividades no te permiten cursar otras materias.</h4>
#end if

#if $aprobadas
	<h2>Tenes aprobadas:</h2>
	<ul>
	#for $mat in $aprobadas
		<li>$mat[0]: $mat[2] <b>($mat[1])</b></li>
	#end for
	</ul>
	<p>
#else
	<h4>No tenes materias aprobadas.</h4>
#end if


#include "footer.html"

