$def with (personal)

$var title: Home
$var no_navbar: false

$if personal['realname']:
    <p>Hi, $personal['realname']!</p>
$else:
    <p>Hi, $personal['username']!</p>

$if not personal['progdatas']:
    <p>You haven't added any programs yet.
    <a href="addprograms">Account settings</a>.</p>

$for progdata in personal['progdatas']:
    <div style="background-color: #E9EEF8;">
        <h3>$progdata['prog']</h3>
        <p><small>$progdata['uni']/$progdata['fac']</small></p>
        <p>Promedio: 10<p>
    </div>
