
#set title = 'Principal'
#include "header.html"


#if $personal.nombre
	Hola $personal.nombre!<p>
#else
	Hola $personal.username!<p>
#end if

#if $area_desc:
	Estás estudiando $carrera_desc, orientación $area_desc.<br>
#else
	Estás estudiando $carrera_desc.<br>
#end if

#if $inicio
	Comenzaste la carrera el $inicio[0]/$inicio[1]/$inicio[2].<br>
#end if

#if $personal.padron
	Tu padrón es $personal.padron.<br>
#end if

#if $promedio
	Tu promedio (sin aplazos) es $promedio.<br>
#end if

#if $creditos
	Tenés $creditos créditos
	#if $cantaprobadas == 1
		y $cantaprobadas materia aprobada.<br>
	#else
		y $cantaprobadas materias aprobadas.<br>
	#end if
#end if

<p>

#if $cursando
	<h2>Estás cursando:</h2>
	<ul>
	#for $mat in $cursando
		<li><a href="datosmateria?cod=$mat[0]">$mat[0]</a>: $mat[1]
		</li>
	#end for
	</ul>
	<p>
#else
	<h4>No estás cursando materias.</h4>
#end if

#if $para_cursar
	<h2>Podés cursar:</h2>
	<ul>
	#for $mat in $para_cursar
		<li><a href="datosmateria?cod=$mat[0]">$mat[0]</a>: $mat[1]
		</li>
	#end for
	</ul>
	<p>
#else
	<h4>Las correlatividades no te permiten cursar otras materias.</h4>
#end if

#if $aprobadas
	<h2>Ténes aprobadas:</h2>
	<ul>
	#for $mat in $aprobadas
		<li><a href="datosmateria?cod=$mat[0]">$mat[0]</a>: $mat[2]
		<b>($mat[1])</b></li>
	#end for
	</ul>
	<p>
#else
	<h4>No tenés materias aprobadas.</h4>
#end if


#include "footer.html"

