
#set title = 'Lista de materias'
#include "header.html"

<h2>Lista de materias para la carrera $personal.carrera</h2>

<table class=matlist>

<tr><th>Cod</th><th>Nombre</th><th>Cred</th><th>Correlativas</th></tr>

#for $mat in $materias
	<a name="MAT$mat.codigo">
	#if $mat.codigo in $personal.aprobadas.keys():
		<tr class=aprobada>
	#else if $mat.codigo in $personal.cursando:
		<tr class=cursando>
	#else
		<tr>
	#end if

	<td class=matlist>$mat.codigo</td>
	<td class=matlist>$mat.desc</td>
	<td class=matlist>$mat.creditos</td>

	<td class=matlist>
	#for $c in $mat.dep
		#if ('!' in $c) or ('c' in $c) or ('m' in $c)
			$c
		#else
			<a title="$mat_dict[$c]" href="#MAT$c">$c</a>
		#endif
	#end for
	</td>

	</tr>
#end for
</table>


#include "footer.html"

