$def with (failed = False)

$var title: Authentication
$var no_navbar: true

$if failed:
    <p>Username or passsword is invalid. Please, try again.</p>

<p>Hi, there! Please fill with your username and password to join planifi.</p>

<form method="post" action="login">
<table>
<tr>
    <td>Username:</td>
    <td>
        <input type="text" tabindex="0" name="username" size="10"/>
    </td>
</tr>
<tr>
    <td>Password:</td>
    <td>
        <input type="password" name="passwd" size="10"/>
    </td>
</tr>
</table>
<input type="submit" value="Log in"/>
</form>

<p/>
<p>If you still don't have a username and password, you can sign up in
the <a href="register">registration page</a>.</p>

<p>If you want to know more about the system, check out our
<a href="mainhelp">help page</a>.

