
#set title = 'planifi'
#set no_navbar = True
#include "header.html"


#if $failed
Usuario y/o clave inválidos. Por favor intentá nuevamente.<p/>
#end if

#if $register_ok
Tu registración se completo sin problemas. Ahora ingresá el usuario y la clave
que elegiste debajo, para comenzar a usar planifi!<br/>
<hr/>
<p/>
#end if

Hola! Por favor ingresa tu usuario y tu clave.<p/>

<form method="post" action="auth">
<table border="0" cellspacing="0">
<tr>
	<td>Usuario:</td>
	<td><input type="text" tabindex="0" name="user" size="10"/>
	</td>
</tr><tr>
	<td>Clave:</td>
	<td><input type="password" name="passwd" size="10"/></td>
</tr><tr>
	<td colspan="2" align="center">
	<input type="submit" value="Entrar"/>
	</td>
</tr>
</table>
</form>

<p/>
Si no tenés un usuario y una clave, podés <a href="register">registrarte
acá</a>.<p/>

Si querés saber mas sobre el sistema, consulta la
<a href="mainhelp">ayuda</a>.

#include "footer.html"

