$def with (error = (0, None), username = '', passwd = '')

$var title: Registration
$var no_navbar: true

$if error[0] == 1:
    <div class="errmessage">The username you chose is already in
    use. Please, choose a different one.</div>
$elif error[0] == 2:
    <div class="errmessage">The following fields contain invalid data
    and need to be fixed in order to proceed with the registration:
        <ul>
        $for field, err_msg in error[1]:
            <li>$field: $err_msg</li>
        </ul>
    </div>
$elif error[0] == 3:
    <div class="errmessage">An error ocurred while saving your
    data: $error[1]</div>

<p>If you want to use the system, you need to register first.</p>

<p>Please, choose a short username (without spaces), and a password.</p>

<form method="post" action="register">
    <table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" size="14" value="$username" />
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="passwd" size="14" value="$passwd" />
        </td>
    </tr>
    </table>
    <input type="submit" value="Register!" />
</form>

