$def with (error, datoscarrera)

$var title: Registración
$var no_navbar: true

$if error == '1':
	<div class="errmessage">El nombre de usuario ya existe, por favor
	elegí otro.</div>
$elif error == '2':
	<div class="errmessage">Ocurrió un error grabando tus datos.</div>

<p>
Para usar el sistema, hace falta que te registres eligiendo un nombre de
usuario corto y sin espacios (o podés usar tu padrón si no estas muy
ocurrente), una clave, y los demás campos que aparecen debajo.
</p>

<form method="post" action="register">
	<table border="0" cellspacing="0">
	<tr>
		<td>Nombre de usuario:</td>
		<td><input type="text" name="username" size="14"/></td>
	</tr>
	<tr>
		<td>Clave:</td>
		<td><input type="password" name="passwd" size="14"/></td>
	</tr>
	<tr>
		<td>Nombre real:</td>
		<td><input type="text" name="nombre" size="30"/></td>
	</tr>
	</table>

	<ul class="idTabs">
		<li><a class="selected" href="#datos_carrera_1">Carrera 1</a></li>
		<li id="add_button_holder"><a class="add_button">+</a></li>
	</ul>
	<div id="datoscarreras">
		$:datoscarrera
	</div>

	<input type="submit" value="Registrarme!" />
</form>

