$def with (error, progdata)

$var title: Registration
$var no_navbar: true

$if error == '1':
    <div class="errmessage">The username you chose is already in
    use. Please, choose another one.</div>
$elif error == '2':
    <div class="errmessage">An error ocurred while saving your
    data.</div>

<p>
If you want to use the system, we need you to register. Please, choose a
short username (without spaces), and a password. Then fill the rest of
the form.
</p>

<form method="post" action="register">
    <table border="0" cellspacing="0">
    <tr>
        <td>Username:</td>
        <td><input type="text" name="username" size="14"/></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="password" name="passwd" size="14"/></td>
    </tr>
    <tr>
        <td>Real name:</td>
        <td><input type="text" name="nombre" size="30"/></td>
    </tr>
    </table>

    <ul class="idTabs">
        <li><a class="selected" href="#progdata_1">Program 1</a></li>
        <li id="add_button_cont"><a class="add_button">+</a></li>
    </ul>
    <div id="progdata_cont">
        $:progdata
    </div>

    <input type="submit" value="Register!" />
</form>

